@font-face {
  font-family: Gilroy-Extrabold;
  src: url('../Fonts/gilroy-extrabold.otf');
}
@font-face {
  font-family: Gilroy-Light;
  src: url('../Fonts/gilroy-light.otf');
}
body {
   margin: 0;
   padding: 0;
}
.main {
	width: 100%;
}

/*
 *Sidebar
*/
.sidebar {
	width: 350px;
	background-color: darkgray;
	min-height: 100vh;
	position: fixed;
	transition: 0.5s;
	border-right: 1px solid black;
}
.header_sidebar {
	font-family: Gilroy-Extrabold;
	font-size: 32px;
	font-weight: bold;
	padding: 15px;
	margin-bottom: 0px;
	color: white;
}
.menu_sidebar ul {
	padding: 0;
	list-style-type: none;
}
.menu_sidebar ul li {
	padding: 15px;
	font-size: 18px;
	border-bottom: 1px solid black;
}
.menu_sidebar ul li a {
	text-decoration: none;
	color: white;
	font-family: Gilroy-Light;
}
.menu_sidebar ul li:hover {	
	background-color: gray;
}
.menu_sidebar ul li.active {
	background-color: gray;
}
/*
 *Content
*/
.content {
	width: calc(100% - 350px);
	float: right;
	padding-left: 15px;
	transition: 0.5s;
}
.wrapper {
	padding: 0 15px;	
}
/*Header*/
.header_content {
	padding-left: 20px 15px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}
.form_search {
	float: right;
}
.form_search form {
	display: flex;
	width: 100%;
	position: relative;
}
.form_search form input {
	height: 30px;
	padding-right: 32px;
}
.form_search form button {
	position: absolute;
	background-color: white;
	border: unset;
	right:2px;
	outline: unset;
	top:1px;
}
.form_search form button:focus {
	outline: unset;
}
/*Title*/
.title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.title span {
    font-family: Gilroy-Extrabold;
}
.title button {
	background-color: darkgray;
	color: black;
	outline: unset;
	padding: 3px;
	float: right;
}
/*Paginate*/
.paginate {
	margin-top: 20px;
	text-align: center;
}
.paginate ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.paginate ul li {
	margin: 5px;
}
.paginate ul li a {
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	border: 1px solid black;
}
.paginate ul li a.active {
	background-color: gray;
	color: white;
}
/*Form*/
.form_wrapper {
	background-color: darkgray;
	width: 40%;
	padding: 20px;
}
form {
	width: 70%;
	margin: 0 auto;
}
.form_wrapper .form-group:first-child input {
    padding-bottom: 20px;
    width: 100%;
}
.form-group label {
	font-family: Gilroy-Light;
	color: black;
	font-size: 18px;
}
input[type="button"] {
	background-color: darkgray;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 15px;
	color: white;
	margin-top: 20px;
}
.open_sidebar {
	font-size: 25px;
	cursor: pointer;
}

.un_active {
	margin-left: -350px;

}
.active_content {
	width: 100%;
}
@media only screen and (max-width: 992px) {
	/*.content
	{
		background-color: red;
	}*/
}

.btn-add
{
	float: right;
	padding: 10px 15px;
	background-color: green;
	color: white;
}
.btn-add:focus
{
	outline: unset;
}
